.advantages__list {
  @include reset-list;
  display: flex;
  flex-direction: column;
  gap: 32px
}

.advantages__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.advantages__description {
  text-align: center;
}
