.card {
  padding: 40px 20px 20px;
  width: 100%;
  background-color: $color-base-white;
  border-radius: 4px;
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: auto;
  grid-template-areas:
    "picture picture"
    "title title"
    "desc desc"
    "price button";
  column-gap: 20px;

  @media (min-width: $tablet-width) {
    padding: 50px 30px 30px;
  }

  @media (min-width: $desktop-width) {
    &:hover,
    &:focus {
      box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.15);
      outline: none;
    }
  }
}

.card__link-image {
  grid-area: picture;
  display: flex;
  justify-self: center;
}

.card__image {
  margin-bottom: 24px;
  display: block;
  width: 130px;
  height: 188px;

  @media (min-width: $tablet-width) {
    margin-bottom: 30px;
  }
}

.card__link {
  grid-area: title;
  text-decoration: none;
  color: $color-base-black;
  display: block;
}

.card__title {
  margin: 0;
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 32px;

  @media (min-width: $tablet-width) {
    margin-bottom: 10px;
    font-size: 24px;
    line-height: 36px;
  }
}

.card__desc {
  grid-area: desc;
  margin: 0;
  margin-bottom: 16px;
  font-size: 14px;
  line-height: 20px;

  @media (min-width: $tablet-width) {
    margin-bottom: 20px;
  }
}

.card__price {
  grid-area: price;
  align-self: center;
  font-weight: 600;
  font-size: 20px;
  line-height: 32px;
}

.card__button {
  grid-area: button;
  padding: 8px 20px;
  font-size: 14px;
  line-height: 20px;
  display: flex;
  gap: 6px;
  align-items: center;

  &::before {
    content: "";
    display: block;
    width: 20px;
    height: 16px;
    background-image: url("../../icons/add-to-cart.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }
}
