.card {
  padding: 40px 20px 20px;
  background-color: $color-base-white;
  border-radius: 4px;
  display: grid;
  grdi
}

.card__image {}

.card__link {}

.card__title {}

.card__description {}

.card__price {}

.card__button {}
