.catalog {
  padding: 50px 0 44px;
  background-color: $bg-lightest-grey;
}

.catalog__badge {
  margin: 0;
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  text-align: center;
  color: $color-base-primary;
}

.catalog__heading {
  margin: 0;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
}

.catalog__form {
  margin-bottom: 40px;
}

.catalog__sorting {
  margin-bottom: 40px;
}
