.catalog {
  padding: 50px 0 44px;
  background-color: $bg-lightest-grey;
}

.catalog__badge {
  margin: 0;
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  text-align: center;
  color: $color-base-primary;
}

.catalog__heading {
  margin: 0;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
}

.catalog__products {
  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 30px;
  }
}

.catalog__form {
  margin-bottom: 40px;
}

.catalog__sort {
  margin-bottom: 40px;
}

.catalog__list {
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  gap: 20px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(3, 1fr);
  }
}
