.contacts__list {
  @include reset-list;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.contacts__link {
  display: grid;
  grid-template-columns: 13px 1fr;
  gap: 6px;
  font-style: normal;
  text-decoration: none;
  color: $color-base-black;

  &::before {
    content: "";
    margin-top: 2px;
    width: 13px;
    height: 16px;
    display: block;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }

  &--address::before {
    background-image: url("../../icons/address.svg");
  }

  &--phone::before {
    background-image: url("../../icons/phone.svg");
  }
}
