.developer {
  margin: 0;
  padding: 20px 0 30px;
  display: flex;
  align-items: center;
  gap: 3px;
  font-size: 12px;
  line-height: 16px;
  color: $color-base-gray;

  @media (min-width: $tablet-width) {
    padding: 0;
  }
}

.developer__link {
  display: flex;
  align-items: center;
  gap: 4px;
  color: inherit;
  text-decoration: none;

  &:hover,
  &:focus {
    color: $color-base-primary;
  }

  &:active {
    color: $color-alt-primary-darker;
  }
}
