.footer {
  @media (min-width: $tablet-width) {
    padding: 40px 0;
  }
}

.footer__container {
  @media (max-width: $mobile-width-only) {
    width: 320px;
  }

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(4, 1fr);
    gap: 20px 30px
  }
}

.footer__column {
  padding: 20px;
  border-bottom: 1px solid $color-base-secondary;

  @media (min-width: $tablet-width) {
    padding: 0;
    border: none;
  }
}

.footer__list {
  @include reset-list;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer__title {
  margin: 0;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.02em;
  color: $color-base-primary;
}

.footer__link {
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  text-decoration: none;
  color: $color-base-black;

  &:hover,
  &:focus {
    color: $color-alt-primary-lighter;
  }

  &:active {
    color: $color-alt-primary-darker;
  }
}

.footer__info {
  @media (min-width: $tablet-width) {
    grid-column: 1 / -1;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1 / 2;
  }
}

.footer__wrapper-info {
  display: flex;
  justify-content: space-between;

  @media (min-width: $desktop-width) {
    flex-direction: column;
    justify-content: flex-start;
  }
}

.footer__developer {
  margin: 20px auto 30px ;
  display: flex;
  justify-content: center;

  @media (min-width: $tablet-width) {
    grid-column: 1 / -1;
  }
}
