.footer__container {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.footer__col {
  padding: 20px 0 21px;

  @media (max-width: $mobile-width-only) {
    &::after {
      content: "";
      margin-top: 21px;
      position: absolute;
      left: 0;
      right: 0;
      display: block;
      height: 1px;
      background-color: $color-base-secondary;
    }
  }
}

.footer__list {
  @include reset-list;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer__title {
  margin: 0;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.02em;
  color: $color-base-primary;
}

.footer__link {
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  text-decoration: none;
  color: $color-base-black;
}

.footer__info {
  @media (min-width: $tablet-width) {
    grid-column: 1/-1;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1/2;
  }
}

.footer__wrapper-info {
  display: flex;
  justify-content: space-between;

  @media (min-width: $desktop-width) {
    flex-direction: column;
    justify-content: flex-start;
  }
}

.footer__developer {
  margin: 20px auto 30px ;
  display: flex;
  justify-content: center;

  @media (min-width: $tablet-width) {
    grid-column: 1/-1;
  }
}
