.logo {
  @media (min-width: $desktop-width) {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  &--footer {
    align-items: flex-start;
    flex-direction: column;
    gap: 10px;
  }
}

.logo__link {
  display: block;
}

.logo__image {
  width: 32px;
  display: block;

  @media (min-width: $tablet-width) {
    width: 82px;
  }

  @media (min-width: $desktop-width) {
    width: 170px;
  }

  .footer__logo & {
    width: 82px;

    @media (min-width: $tablet-width) {
      width: 170px;
    }
  }
}

.logo__slogan {
  display: none;
  min-width: 130px;
  font-size: 12px;
  line-height: 16px;

  .logo--footer & {
    font-size: 14px;
    line-height: 20px;
  }

  @media (min-width: $desktop-width) {
    display: block;
  }
}
