.pagination {
  display: flex;

  @media (min-width: $tablet-width) {
    justify-content: end;
  }
}

.pagination__list {
  @include reset-list;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.pagination__link {
  padding: 8px;
  min-width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  background-color: $color-base-white;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: $color-base-primary;
  text-decoration: none;

  &--current {
    font-weight: 600;
    background: transparent;
    color: $color-base-black;
  }
}

.pagination__prev::before,
.pagination__next::before {
  content: "";
  width: 10px;
  height: 10px;
  background-image: url("../../icons/chevron.svg");

  @media (min-width: $tablet-width) {
    content: none;
  }
}

.pagination__prev::before {
  transform: rotate(90deg);
}

.pagination__next::before {
  transform: rotate(-90deg);
}

.pagination__text {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }
}
