.pagination {
  display: flex;

  @media (min-width: $tablet-width) {
    justify-content: end;
  }
}

.pagination__list {
  @include reset-list;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.pagination__link {
  padding: 8px;
  min-width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  background-color: $color-base-white;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: $color-base-primary;
  text-decoration: none;

  &[href]:hover,
  &[href]:focus {
    background-color: $color-alt-primary-lighter;
    color: $color-base-white;
  }

  &[href]:active {
    background-color: $color-alt-primary-darker;
    color: $color-base-white;
  }

  &--disabled {
    background-color: $color-alt-light-grey;
    color: $color-base-white;
    pointer-events: none;
  }

  &--current {
    font-weight: 600;
    background: transparent;
    color: $color-base-black;
    pointer-events: none;
  }

}

.pagination__prev,
.pagination__next {

  @media (min-width: $tablet-width) {
    padding: 8px 20px;
  }

  &::before {
  content: "";
  width: 10px;
  height: 10px;
  background-color: $color-base-primary;
  -webkit-mask: url("../../icons/chevron.svg") no-repeat 50% 50%;
  mask: url("../../icons/chevron.svg") no-repeat 50% 50%;

    @media (min-width: $tablet-width) {
      content: none;
    }
  }

  &:hover::before,
  &:focus::before,
  &:active::before {
    background-color: $color-base-white;
  }
}

.pagination__link--disabled.pagination__prev::before,
.pagination__link--disabled.pagination__next::before {
  background-color: $color-base-white;
}

.pagination__prev::before {
  transform: rotate(90deg);
}

.pagination__next::before {
  transform: rotate(-90deg);
}

.pagination__text {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }
}
