.site-menu {
  @include reset-list;
  display: flex;
  flex-direction: column;

  @media (max-width: $mobile-width-only) {
    .header__nav--closed & {
      display: none;
    }

    .header__nav--opened & {
      margin: 0;
      position: absolute;
      top: 100%;
      right: 0;
      left: 0;
      background-color: $color-base-white;
      z-index: 2;
    }

    .header__nav--nojs & {
      position: static;
      min-height: 0;
      display: flex;
    }
  }

  @media (min-width: $tablet-width) {
    flex-direction: row;
  }
}

.site-menu__item {
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  border-bottom: 1px solid $color-base-secondary;

  &:first-child {
    border-top: 1px solid $color-base-secondary;
  }
}

.site-menu__link {
  padding: 20px;
  display: flex;
  position: relative;
  justify-content: center;
  text-decoration: none;
  color: $color-base-black;

  @media (min-width: $tablet-width) {
    &--current {
      color: $color-base-primary;
    }

    &--current::after {
      content: "";
      display: block;
      position: absolute;
      height: 2px;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: $color-base-primary;
    }
  }

  @media (min-width: $tablet-width) {
    padding: 32px 20px;
  }
}
