.slide {
  padding: 20px 0 60px;

  &--flat-white {
    background-color: $bg-flat-white;
  }

  &--lavender-latte {
    background-color: $bg-lavender-latte;
  }

  &--espresso {
    background-color: $bg-espresso;
  }
}

.slide__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;

  @media (min-width: $tablet-width) {
    flex-flow: column-reverse;
  }
}

.slide__content {
  text-align: center;
}

.slide__badge {
  margin: 0;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: $color-base-primary;
}

.slide__heading {
  margin: 0;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;
  letter-spacing: 0.02em;
}

.slide__order {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.slide__price {
  font-weight: 600;
  font-size: 20px;
  line-height: 32px;

  &  .slide__old-price {
    margin-right: 6px;
  }
}

.slide__old-price {
  align-self: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  text-decoration: line-through;
  color: $color-base-primary;
}
