.slide {
  &--flat-white {
    background-color: $bg-flat-white;
  }

  &--lavender-latte {
    background-color: $bg-lavender-latte;
  }

  &--espresso {
    background-color: $bg-espresso;
  }
}




