.slider {
  position: relative;
}

.slider__pagination {
  display: none;
}

.slider__button {
  width: 20px;
  position: absolute;
  top: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    width: 80px;
    height: 640px;
  }

  @media (min-width: $desktop-width) {
    height: 100%;
  }

  &--prev {
    left: 0;
  }

  &--next {
    right: 0;
  }

  &::before {
    content: "";
    width: 20px;
    height: 20px;
    display: block;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }

  &--prev::before {
    background-image: url("../../icons/slider-arrow.svg");
    transform: rotate(180deg);
  }

  &--next::before {
    background-image: url("../../icons/slider-arrow.svg");
  }
}
