.social {
  @include reset-list;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.social__link {
  padding: 10px;
  display: flex;
  color: $color-base-gray;
  border-radius: 4px;

  &:hover,
  &:focus {
    background-color: $color-base-secondary;
    color: $color-base-primary;
  }

  &:active {
    background-color: $color-alt-primary-opacity;
    color: $color-base-primary;
  }
}
