.sort__form {
  display: flex;
  align-items: center;
  gap: 8px;

  @media (min-width: $tablet-width) {
    justify-content: flex-end;
  }
}

.sort__label {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}

.sort__select {
  margin: 0;
  padding: 4px 30px 4px 10px;
  width: 165px;
  display: flex;
  gap: 10px;
  appearance: none;
  border: none;
  background: transparent;
  font-family: inherit;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: $color-base-primary;
  background-image: url("../../icons/chevron.svg");
  background-size: 10px 10px;
  background-repeat: no-repeat;
  background-position: right 10px center;
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: $color-base-secondary;
    border-radius: 4px;
  }
}
.sort__option {
  background-color: $color-base-white;
  color: $color-base-black;
}
